<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Mailing">
<listeners>
<listener class-name="utilities.gmailListener"></listener>
</listeners>
    <test name="Regression">
         <classes>
             <class name="gmail.Login"/>                    
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->
